body {
    margin: 0px;
    padding: 0px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: grey;
    background-image: url("../images/concrete_seamless.png");
    background-repeat: repeat;
    position: relative;
    height: 100%;
}


header {
    padding: 0px;
    margin-top: 0px;
    border-bottom: 1px solid grey;
    background-color: #fff;
    width: 100%;
}

section {
    border: 1px solid grey;
    border-radius: 5px 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 30px;
    background-color: #fff;
    line-height: 2em;
}

h2 {
    color: teal;
}

hr {
    margin: 0px 15px 30px 15px;
    border-top: 1px solid gray;
}

.container {
    width: 960px;
    margin: 0px auto;
}

.top-height{
    height: 79px;
}

.top-name {
    width: 350px;
    background-color: teal;
    color: white;
    float: left;
    margin: 0px;
    text-align: center;
    padding: 20px;
}

.menu {
    width: 300px;
    list-style-type: none;
    float: right;
    margin: 0px;
    border: none;
}

.menu li {
    padding-left: 10px;
    padding-top: 31px;
    padding-bottom: 31px;
    float: right;
}

menu a:link {
    text-decoration: none;
    color: grey;
}

menu a:visited, a:active {
    text-decoration: none;
    color: #CF5D5D;
}

menu a:hover {
    text-decoration: underline;
}

.spacer {
    clear: both;
    margin: 20px;
}

.outside {
    margin: 100px;
}

footer {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #737373;
    border-top: 7px solid teal;
    bottom: 0px;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.copyright {
    bottom: 0px;
    font-weight: normal;
}

/* Index page picture */
#me-pic {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    float: left;
}

/* Contact page input and text area */
.box-width {
    width: 100%;
    border: 1px solid grey;
    padding: 5px;
}

.box-width:hover {
    border: 1px solid teal;
    box-shadow: 1px 1px #B0E0E6;
    padding: 5px;
}

.btn {
    background-color: teal;
    color: white;
    padding: 8px 25px;
    border: 1px solid #28A8A8;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #006C6C;
    color: white;
}


/* Portfoilo page boxes */
.cards {
    float: left;
    width: 320px;
    height: 240px;
    margin: 20px;
    background-size:cover;
}

.ptitle {
    height: 70px;
    background-color: teal;
    color: white;
    text-align: center;
    padding-top: 2px;
    margin-top: 48%;
    box-sizing: border-box;
}

#num1 {
    background-image:  url('../images/technics-q-c-640-480-1.jpg');
}

#num2 {
    background-image:  url('../images/technics-q-c-640-480-2.jpg');
}

#num3 {
    clear: left;
    background-image:  url('../images/technics-q-c-640-480-5.jpg');
}

#num4 {
    background-image:  url('../images/technics-q-c-640-480-7.jpg');
}

#num5 {
    clear: left;
    background-image:  url('../images/technics-q-c-640-480-9.jpg');
}

.portfolio .cards:hover {
    border: 1px solid teal;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.2);
}